<footer class="footer">
  <div class="row">
    <div class="u-center-text footer__links">
      <ul class="footer__links-container">
        <li><h5>Follow me on:</h5></li>
        <br />
        <li>
          <a
            href="https://www.linkedin.com/in/eduard-matei-6aa1b016a/"
            target="blank"
            ><i class="ion-logo-linkedin"></i
          ></a>
        </li>
        <li>
          <a href="https://github.com/EduardMatei0/" target="blank"
            ><i class="ion-logo-github"></i
          ></a>
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <p>
      Copyright &copy; 2019 by Eduard Matei. All rights reserved.
    </p>
  </div>
</footer>
