<header class="header">
  <div class="main-container">
    <h1 class="title">Matei Eduard</h1>
    <h2>Contact Info:</h2>
    <div class="contact-details">
      <div class="info">
        <i class="ion-ios-mail"></i>
        <a href="mailto:eduardmatei0@yahoo.com" class="contact" target="default"
          >eduardmatei0@yahoo.com</a
        >
      </div>
      <div class="info">
        <i class="ion-logo-linkedin"></i>
        <a
          href="https://www.linkedin.com/in/eduard-matei-6aa1b016a/"
          target="default"
          class="contact"
          >Linkedin Profile</a
        >
      </div>
      <div class="info">
        <i class="ion-logo-github"></i>
        <a
          href="https://github.com/EduardMatei0/"
          target="default"
          class="contact"
          >Github Profile</a
        >
      </div>
      <div class="info">
        <i class="ion-ios-call"></i>
        <a href="tel:0743 010 380" target="default" class="contact"
          >0743 010 380</a
        >
      </div>
    </div>
  </div>
</header>
